html {
background-color: #F5EBE0;
}

header    {
text-align: center;
width: 100%;
word-spacing: 5px;
color: grey;
font-family: 'Montserrat';
font-size: 14px;
margin-top:30px;

}


h3 {
    display:inline;
}

#logo {

width:90px;
length:90px;
float:left;
display:inline;

}

#donate {
float: right;
font-family:
}

#breast {
    font-family:'Antic Didone';
    width: 100%;
    display: inline;
    text-align: center;
    background-image: url('');
}















 